.tasks-Customer,
.tasks-Provider {
    display:flex;
    flex-direction: column;
    padding:10px;
    margin: 20px auto 0 auto;
    font-size: 1.2rem;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.task-card{
    border: 1px solid chocolate;
    width: 100%;
    max-width: 900px;
    padding: 10px 50px;
    box-sizing: border-box;
    background-color:rgb(241, 252, 249) ;
}

.tasks-Provider button{
    font-size: 1.1rem;
}
@media (max-width: 768px) {
    .tasks-Provider{
        padding: 10px;
        align-items: center;
    }

    .task-card {
        max-width: 95%;
        padding: 10px 20px;
    }

}