.featuresCardDiv{
    /* background-color: rgb(147, 147, 254); */
    width: 350px;
}

.featuresCardImg{
    width: 100px;

}

.featuresCardParagraph{
    font-size: 1.75rem;
    padding:5px 20px;
    color:white;
}