.navbar{
    /* background-color: white; */
    padding: 1rem; 
    border-radius: 15px;
    /* border: 1px solid black; */

}

.navbarUl {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 30px;
    font-size: 2rem;
}

.navbarUl li a {
    color: white;
    text-decoration: none;
    padding:10px 30px;
    border-radius: 15px;
    background-color: black;
}

.navbarUl li a:hover{
    background-color: white;
    color:rgb(60, 4, 247);
    border: 1px solid blue;
}

@media (max-width: 768px) {
    .navbarUl{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        gap: 5px;
    }

    .navbarUl li {
        margin: 10px 0;
        font-size: smaller;
        
    }
}