.personalInfo {
    border: 1px solid black;
    background-color: beige;
}

.tasks-Provider {
    border: 1px solid black;
    background-color: beige;
}

.tasks-Customer {
    border: 1px solid black;
    background-color: beige;
}