.HeroSection{
    background-color: rgb(149, 149, 246);
    margin: 20px;
    padding: 30px;
    font-size: 1.5rem;
    border: 1px solid coral;
}

.cardContainer {
    display:flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    margin: 15px;
    padding: 10px;
    background-color: rgb(65, 63, 66);
}

button{
    background-color: black;
    font-size: 1.5rem;
    margin: 20px;
    border-radius: 15px;
}

.footer{
    display:flex;
    flex-direction: row;
    gap: 55px;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
}
.footer li{
    font-size: 1.5rem;
    list-style: none;
}