.HeroSection {
    margin: 20px;
    padding: 30px;
    font-size: 1.5rem;
    border: 1px solid rgb(6, 6, 6);
}
.HeroSection h1{
    font-size: 3.5rem;
}

.cardContainer {
    display:flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    margin: 15px;
    padding: 5px;
}

button{
    background-color: black;
    font-size: 1.5rem;
    margin: 20px;
    border-radius: 15px;
}

button a {
    color: white;
}

@media (max-width: 768px) {
    .HeroSection h1{
        font-size: 2.5rem;
    }
    .HeroSection h2{
        font-size: 1.5rem;
    }

    .featuresTitle h1{
        font-size: 2rem;
    }


    .navbarUl li {
        margin: 10px 0;
        font-size: 1.2rem;
        
    }
}